.list-item {
  cursor: pointer;
  margin: 5px 20px;
  display: flex;
  transition: box-shadow 50ms;
  p {
    flex-grow: 1;
  }

  .button-wrapper {
    flex-grow: 0;
    display: flex;
    align-items: center;
  }
}
